@model IEnumerable<Notification>

<div>
    @if (Model.Any())
    {
        <h5>@Model.Where(n => n.IsSeen == false).Count() new</h5>
    }
    else
    {
        <h5>No notifications</h5>
    }

    @if (Model != null)
    {
        foreach (var notification in Model.OrderBy(n => n.IsSeen).OrderByDescending(n => n.EventDate).Take(3))
        {
            if (!notification.IsSeen)
            {
                <div class="alert alert-primary">
                    Project @notification.ProjectCode changed status.<br />
                    <small>@notification.EventDate</small>
                </div>
            }
            else
            {
                <div class="alert alert-secondary">
                    Project @notification.ProjectCode changed status.<br />
                    <small>@notification.EventDate</small>
                </div>
            }
        }

        <p class="text-center">
            <a asp-controller="Notification" asp-action="UserNotifications" asp-route-id="0">View all notifications</a>
        </p>
    }
</div>
