@model IEnumerable<Company>

@{
    ViewData["Title"] = "Companies";
    var allCompanies = ViewContext.RouteData.Values["Id"] == null || ViewContext.RouteData.Values["Id"].Equals("0");
    var privatelyHeld = ViewContext.RouteData.Values["Id"] != null && ViewContext.RouteData.Values["Id"].Equals("1");
    var publicCompany = ViewContext.RouteData.Values["Id"] != null && ViewContext.RouteData.Values["Id"].Equals("2");
    var partnership = ViewContext.RouteData.Values["Id"] != null && ViewContext.RouteData.Values["Id"].Equals("3");

    @if (!(allCompanies || privatelyHeld || publicCompany || partnership))
    {
        allCompanies = true;
    }
}

<div class="row justify-content-center mb-5">
    <div class="col-lg-2 mb-5">
        <h3>Categories</h3>

        <p>
            <a asp-action="UserDashboard">User dashboard</a>
        </p>

        <div class="list-group">
            <a class="list-group-item list-group-item-action @(allCompanies ? "active" : "")"
               asp-action="Companies" asp-route-id="0">
                All
            </a>
            <a class="list-group-item list-group-item-action @(privatelyHeld ? "active" : "")"
               asp-action="Companies" asp-route-id="1">
                Privately Held
            </a>
            <a class="list-group-item list-group-item-action @(publicCompany ? "active" : "")"
               asp-action="Companies" asp-route-id="2">
                Public Company
            </a>
            <a class="list-group-item list-group-item-action @(partnership ? "active" : "")"
               asp-action="Companies" asp-route-id="3">
                Partnership
            </a>
        </div>
    </div>

    <div class="col-lg-8">
        <h3>@ViewData["Title"]</h3>

        <p>
            <a asp-controller="Company" asp-action="Create">Create new</a>
        </p>

        @await Html.PartialAsync("_ErrorMessagePartial", TempData["Message"])

        @if (Model.Any())
        {
            <input class="form-control" id="myInput" type="text" placeholder="Search.."><br />
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User.Inactive)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.LastName)
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Industry)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Inactive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                <td>
                                    @(item.User?.UserName ?? "-")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Industry)
                                </td>
                                <td class="text-nowrap">
                                    <a asp-action="EditCompany" asp-route-id="@item.CompanyId">Edit</a> |
                                    <a asp-controller="Company" asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                                    <a asp-action="DeleteCompany" asp-route-id="@item.CompanyId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h4>No companies</h4>
        }
    </div>
</div>
